.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #501D83;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
  }
  

.nav-bar-logo {
    height: 100%;
    width: 100%;
    display: flex;
}